.company-panel {
  border-bottom: .2rem solid #eee;
  margin-bottom: 2rem;

  >blockquote>p {
    font-size: 1.2rem;
    font-style: italic;
  }

  i {
    margin-left: .3rem;
    font-size: 1rem;
  }
}

.company {
  font-size: 1.2rem;
}

.company-logo {
  top: 0rem;
  height: 3rem;
  position: relative;
}

.title {
  font-size: 1.6rem;
}

.years {
  font-size: 1.2rem;
  font-weight: 500;
  color: #b4b9bd;
  font-feature-settings: "ss01", "zero";
  font-style: italic;
}

span.list-tt {
  cursor: pointer;
  color: #2ea9bf;

  &:hover {
    cursor: pointer;
    background-color: #eee;
    transition: background-color 0.8s ease;
  }
}

.img-tooltip {
  height: 200px;
}

.custom-tooltip {
  opacity: 1 !important;
  padding: 5px !important;

  img {
    height: 20rem;
  }

  background-color: rgb(51, 72, 94) !important;
}

.__react_component_tooltip.type-dark.place-top:after {
  border-top-color: rgb(51, 72, 94) !important;
}

.__react_component_tooltip.type-dark.place-bottom:after {
  border-bottom-color: rgb(51, 72, 94) !important;
}

.__react_component_tooltip.type-dark.place-left:after {
  border-left-color: rgb(51, 72, 94) !important;
}

.__react_component_tooltip.type-dark.place-right:after {
  border-right-color: rgb(51, 72, 94) !important;
}

.popupbox-overlay {
  background: none repeat scroll 0% 0% rgb(51, 72, 94);
}

.popupbox-content {
  padding: 0rem;

  img {
    max-height: stretch;
    width: auto;
  }
}