.header-container {
  color: #fafafa;
  padding-top: 1rem;
  margin-bottom: 1.7rem;
  background: rgb(51, 72, 94);
  i {
    margin-left: 1rem;
    cursor: pointer;
    font-size: 2.3rem;
    margin-top: .5rem;
  }
}

.header-right {
  text-align: right;
  white-space: nowrap;
  font-size: 1.2rem;
  font-feature-settings: "salt";
  a {
    text-align: center;
  }
}